# Wordpress - ignore files and folders in wp-content.


# Example themes
/themes/twenty*/

# Example plugin
/plugins/hello.php

# Uploads
/uploads/

# Languages
/languages/

# Log files
*.log

# Mac files
*.DS_Store

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes